<div class="row mt-5 mb-5">
    <div class="col-6 form-group">
        <label class="control-label">Property Name</label>
        <input type="text"  name="PropName" value=""  class="form-control"/>
    </div>
    <div class="col-6  form-group">
        <label class="control-label">Value</label>
        <input type="text" name="PropValue" value="" class="form-control" />
    </div>
</div>
